# General
__pycache__/
*.py[cod]
*$py.class
.DS_Store
.thumbs

# Virtual Environment
venv/
env/
.venv/
.env

# Telethon
*.session
*.session-journal

# Logs & Databases
*.log
*.sqlite3
*.db

# IDEs
.idea/
.vscode/
*.swp
*.bak

# TeleAgent Specific
apis.txt
*.json
teleagent_deploy.zip
teleagent_deploy_config.json
*.zip